.phonebook__form {
  padding: 15px;
  width: 400px;
  height: 230px;
  border: 1px solid black;
}

.phonebook__label {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.phonebook__input {
  margin-top: 10px;
}

.btn {
  margin-top: 20px;
  width: 130px;
  height: 30px;
  background-color: #fff;
  border: 2px solid #2196f3;
  border-radius: 3px;
}

.btn:hover,
.btn:focus {
  color: white;
  background-color: #2196f3;
  cursor: pointer;
}
